{% extends "layout.html" %}

{% block head %}

{% endblock %}

{% block body %}

{% for item in language %}
    <p>"answer_id":{{question_id}}</p>
    {% if item.section %}
        <p>section: {{item.section}}</p>
    {% endif %}
    {% if item.image %}
        <img src='{{item.image}}'/>
    {% endif %}
    <p>quesion: {{item.question}}</p>
    <p>a){{item.option.a}}</p>
    <p>b){{item.option.b}}</p>
    <p>c){{item.option.c}}</p>
    <p>d){{item.option.d}}</p>
    <h4>correct answer is {{item.answer}}</h4>
    <p>your answer is {{user_answer}}</p>
    {% if item.answer == user_answer %}
        <p class="yes" style="background-color: green;">your answer is correct</p>
    {% else %}
        <p class="no" style="background-color: red;">your answer is wrong</p>
    {% endif %}
    {% if item.solution %}
        <p style="text-decoration: underline;">solution of the above questions is:</p>
        <p>solution: {{item.solution}}</p>
    {% endif %}
    <table border="1">
        <tr>
        <th>your total question done is</th>
        <th>your total score is</th>
        </tr>
        <tr>
            <td>{{question_done}}</td>
            <td>{{score}}</td>
        </tr>
    </table>
    <span><button><a href="{{url_for('questions')}}">Get another question</a></button></span>
    <span style="float: right;"><button><a href="{{url_for('subject_list')}}">back to subject list</a></button></span>
{% endfor %}

{% endblock %}   