{% extends "layout.html" %}

{% block head %}
<style>
    .home{
        text-align: center;
        font-size: 25px;
        padding-left:150px;
        font-style: italic;
    }
</style>
{% endblock %}

{% block body %}
<p class="home"><a href="{{url_for('home_page')}}">Home</a></p>
    <p>"answer_id":{{question_id}}</p>
    {% if question_data.section %}
        <p>section: {{question_data.section}}</p>
    {% endif %}
    {% if question_data.image %}
        <img src='{{question_data.image}}'/>
    {% endif %}
    <p>quesion: {{question_data.question}}</p>
    <p>options:</p>
    <p>a){{question_data.option.a}}</p>
    <p>b){{question_data.option.b}}</p>
    <p>c){{question_data.option.c}}</p>
    <p>d){{question_data.option.d}}</p>
    <h4>correct answer is {{question_data.answer}}</h4>
    <p>your answer is {{user_answer}}</p>
    {% if question_data.answer == user_answer %}
        <p class="yes" style="background-color: green;">your answer is correct</p>
    {% else %}
        <p class="no" style="background-color: red;">your answer is wrong</p>
    {% endif %}
    {% if question_data.solution %}
        <p style="text-decoration: underline;">solution of the above questions is:</p>
        <p>solution: {{question_data.solution}}</p>
    {% endif %}
    <table border="1">
        <tr><th colspan="2">{{user_name}}'s mark table</th></tr>
        <tr>
        <td>your total question done is</td>
        <td>your total score is</td>
        </tr>
        <tr>
            <td>{{question_done}}</td>
            <td>{{score}}</td>
        </tr>
    </table>
    <span><button><a href="{{url_for('questions')}}">Get another question</a></button></span>
    <a style="float: right;padding-right: 200px;" href="{{url_for('subject_list')}}">SubJects</a>

{% endblock %}   