{% extends "layout.html" %}

{% block head %}
<style>
    .links{
        float: left;
        padding-left: 50px;
    }
</style>
{% endblock %}

{% block body %}

<header style="color: black;font-size: 65px;">Welcome to Real course program</header>
<div>
    <a class="links" href="{{url_for('register')}}">SIGNUP</a>
    <a class="links" href="{{url_for('login')}}">LOGIN</a>
    <a class="links" href="{{url_for('subject_list')}}">GET started</a>
</div>
<di><br></div>
<img src="{{url_for('static', filename='home.jpg')}}" />
<ul style="float: right;padding-right: 50px;">
    <h3>About</h3>
    <li>
        <p>we help students to revise their notes</p>
        <p>by giving them question and answer</p>
    </li>
    <li>
        <p>this program mostly help students who</p>
        <p>are in  O'Level (secondary)</p>
    </li>
    <li>
        <p>we also show you, your improvement by</p>
        <p>giving you marks </p>
    </li>
    <img style="width: 300px;height: 150px;" src="{{url_for('static', filename='site.jpg')}}" />
</ul>
<p>online Real course.com</p>
{% endblock %}