<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Real course</title>
    <link rel="my icon" href="{{url_for('static', filename= 'favicon.png') }}">
    {% with messages = get_flashed_messages() %}
    {% if messages %}
        <div>
        <ul class=flashes>
    {% for message in messages %}
        <li style="list-style-type: square;color: deepskyblue;">{{ message }}</li>
    {% endfor %}
        </ul>
        </div>
    {% endif %}
    {% endwith %}
    {% block head %}
    {% endblock %}
    <style>
        .flashes{
            display: flex;
        }
        .flashes li{
            margin-right: auto;
        }
    </style>
</head>
<body>
    {% block body %}
    {% endblock %}
</body>
</html>