<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Real course</title>
    <link rel="my icon" href="{{url_for('static', filename= 'favicon.png') }}" style="color: black;">
    {% with messages = get_flashed_messages() %}
    {% if messages %}
        <ul class=flashes>
    {% for message in messages %}
        <li style="color: deepskyblue;">{{ message }}</li>
    {% endfor %}
        </ul>
    {% endif %}
    {% endwith %}
    {% block head %}
    {% endblock %}
</head>
<body>
    {% block body %}
    {% endblock %}
</body>
</html>