{% extends "layout.html" %}

{% block head %}

<script>
    function questions_id()
    {
        document.getElementById('2342').value
        = parseInt('{{question_id | safe }}');
        document.getElementById('5675').value
        = '{{subject}}';
    }
</script>
<style>
    .home{
        text-align: center;
        font-size: 25px;
        padding-left:150px;
        font-style: italic;
    }
</style>
{% endblock %}

{% block body %}
<p class="home"><a href="{{url_for('home_page')}}">Home</a></p>

{% for item in language %}
    <p>"question_id":{{question_id}}</p>
    {% if item.section %}
        <p>section: {{item.section}}</p>
    {% endif %}
    {% if item.image %}
    <img src='{{item.image}}'/>
    {% endif %}
    <p>question: {{item.question}}</p>
    <p>options:</p>
    <p>a){{item.option.a}}</p>
    <p>b){{item.option.b}}</p>
    <p>c){{item.option.c}}</p>
    <p>d){{item.option.d}}</p>
    <form method="POST" action="/answer">
        {{form.csrf_token}}
        {{form.subject_name()}}
        {{form.question_id()}}
        <p>
            {{form.answer.label}}
            {{form.answer(size=10)}}
            {% if form.answer.errors %}
            {% for error in form.answer.errors %}
                <span style="color: red;">{{error}}</span>
            {% endfor %}
            {% endif %}
        </p>         
        <span>{{form.submit()}}</span>
    </form>
{% endfor %}
    <p style="text-align: center;padding-left: 520px;"><a href="{{url_for('subject_list')}}">SubJect</a></p>
{% endblock %}
