{% extends "layout.html" %}

{% block head %}

{% endblock %}

{% block body %}

<h1 style="padding-bottom: 20px;">reset your password here</h1>
<span style="color: red;">NOTE!</span>
<ul>
    <li>Fillout the below fields to reset your password</li>
    <li>your must fillout the firstname,secondname and email as you have done during singup time</li>
    <li>only password field must be the new one</li>
</ul>
<form method="POST" action="">
    {{form.csrf_token}}
    <fieldset>
        <p>
            {{form.user_first_name.label}}
            {{form.user_first_name(size=30)}}
            {% if form.user_first_name.errors %}
            {% for error in form.user_first_name.errors %}
                <span>{{error}}</span>
            {% endfor %}
            {% endif %}
        </p>
        <p>
            {{form.user_second_name.label}}
            {{form.user_second_name(size=30)}}
            {% if form.user_second_name.errors %}
            {% for error in form.user_second_name.errors %}
                <span>{{error}}</span>
            {% endfor %}
            {% endif %}
        </p>
        <p>
            {{form.user_email.label}}
            {{form.user_email(size=30)}}
            {% if form.user_email.errors %}
            {% for error in form.user_email.errors %}
            <span>{{error}}</span>
            {% endfor %}
            {% endif %}
        </p>
        <p>
            {{form.new_password.label}}
            {{form.new_password(size=30)}}
            {% if form.new_password.errors %}
            {% for error in form.new_password.errors %}
            <span>{{error}}</span>
            {% endfor %}
            {% endif %}
        </p>
        <p>
            {{ form.submit() }}
        </p>
    </fieldset>
</form>
<a href="{{url_for('login')}}">Go to login</a>

{% endblock %}